$slider-size: 200px !default;
$slider-tick-size: null !default;
$slider-alt-size: 30px !default;

$slider-track-bg: gray;
$slider-selection-bg: lightpink;
$slider-marker-bg: palevioletred;
$slider-graduation-border: #3c434a;
$slider-label-color: #3c434a;

$slider-font-family: $font-family !default;
$slider-font-size: $font-size !default;
$slider-line-height: $line-height !default;

$slider-track-size: 7px;
$slider-track-border-radius: 5px;

$slider-track-thickness: 4px !default;
$slider-draghandle-border-width: 1px !default;
$slider-draghandle-size: 14px !default;

$slider-transition-speed: .3s !default;
$slider-transition-function: ease-out !default;
$slider-draghandle-transition-speed: .4s !default;
$slider-draghandle-size: 15px !default;
$slider-draghandle-transition-function: cubic-bezier(.25, .8, .25, 1) !default;
 
